@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
    --primary-color: #6a52ff;
}

/* Reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
    padding: 16px;
}

/* HEADER */
.navbar {
    width: 100%;
    background-color: #191919;
    padding: 20px 0;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

.nav-links .active {
    background: var(--primary-color);
    font-weight: 600;
    color: white;
}

.nav-links li a:hover {
    background: var(--primary-color);
    color: white;
}

.logo {
    background: var(--primary-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero-content h1 span {
    color: var(--primary-color);
}

.hero-content p {
    margin: 15px 0;
    font-size: 16px;
    color: #bbb;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-light {
    background: white;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-dark {
    background: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-light:hover {
    background: #bbb;
}

.btn-dark:hover {
    background: #5a42e0;
}

.hero-image {
    background: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}

.hero-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* SECTION */
section {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

section > *:first-child {
    text-align: center;
    margin-bottom: 0.6em;
}

section h1 {
    font-size: 60px;
    font-weight: 700;
}

section h2 {
    font-size: 40px;
    font-weight: 700;
}

/* BENTO GRID */
.bento-grid {
    display: flex;
    max-width: 1100px;
    height: 700px;
    gap: 1em;
}

.bento-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bento-group {
    display: flex;
    height: 100%;
    gap: 1em;
}

.bento-item {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* BOX */
.box {
    border-radius: 20px;
}

/* FLEX DIRECTION */
.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

/* SPAN */
.span-1 {
    flex: 1;
}

.span-2 {
    flex: 2;
}

.span-3 {
    flex: 3;
}

/* CARD */
.card {
    background-color: #3e3d4b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.7em;
}

.card_image {
    position: relative;
    max-height: 200px;
    margin-bottom: 10px;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card_content {
    position: relative;
    max-height: 290px;
    padding: 0 0.5em;
}

.card_title {
    position: relative;
    font-size: 20px;
    font-weight: 700;
}

.card_text p {
    font-size: 0.8em;
    line-height: 1.5;
    align-content: center;
}

/* SKILL CARD */
.skill-card {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 12px;
    overflow: hidden;
    color: #fff;
    padding: 12px;
}

.skill-card__column {
    flex-direction: column;
}

.skill-card__left {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.skill-card__top {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.skill-card__icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-card__icon-img {
    width: 24px;
    height: 24px;
    display: block;
}

.skill-card__title {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-card__description {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.9;
}

.skill-card__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skill-card__bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skill-card__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    text-align: left;
}

.skill-content__subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}

.skill-content__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
}

.skill-content__description {
    font-size: 1rem;
    line-height: 1.6;
}

/* Mobile devices (portrait and landscape) */
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0 0 4em 0;
        max-width: 100%;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }

    .bento-grid {
        flex-direction: column;
        height: auto !important;
        max-height: unset !important;
    }

    .bento-column {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bento-group {
        flex-direction: column;
        height: auto;
    }

    .bento-item {
        min-height: 200px; /* Forza un'altezza minima */
        width: 100%; /* Assicura che prendano tutta la larghezza */
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .skill-card {
        flex-direction: column;
        margin: 0 !important;
    }

    article {
        margin: 0;
    }

    section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    footer {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    section > :first-child {
        margin: 0.6em 0;
    }
}

/* Tablets (portrait and landscape) */
/* @media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        padding: 15px 0;
    }

    .nav-container {
        padding: 0 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }

    .bento-grid {
        flex-direction: column;
        height: auto;
    }

    .bento-column {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bento-group {
        flex-direction: column;
        height: auto;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
} */

/* Desktops and laptops */
/* @media (min-width: 1024px) {
    .navbar {
        padding: 20px 0;
    }

    .nav-container {
        padding: 0 20px;
    }

    .hero {
        flex-direction: row;
        text-align: left;
    }

    .hero-content {
        max-width: 50%;
    }

    .hero-image {
        margin-top: 0;
    }

    .bento-grid {
        flex-direction: row;
        height: 700px;
    }

    .bento-column {
        flex-direction: column;
    }

    .bento-group {
        flex-direction: row;
        height: 100%;
    }

    .buttons {
        flex-direction: row;
        gap: 15px;
    }
} */
